.container {
    background-color: #ffffff;
    padding: 5px;
    display: flex;
    /* position:fixed;
    width:100%; 스크롤 내리면 바뀌는 효과 넣기*/
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.title {
    margin:10px;
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.3s; 

    &:hover {
        transform: scale(2.2);
        animation: spin 0.5s linear infinite; /* 애니메이션 적용 */

        
    }
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.content {
    display: flex;
}

.button {
    margin-right: 20px;
    transition: transform 0.3s; 

    & a {
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }
    
    &:hover {
        transform: scale(1.4); 

    }
}