* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width:100%;
    background-size: cover;
    box-sizing: border-box;
    background-color: aliceblue;
}

.content {
    object-fit: cover;
    display: flex;
    flex-direction: column;
    width:1000px;
    margin:0 auto;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:300px;
    & .mainTitle {
        font-size: 2rem;
        /* width:400px; */
    }

    & .subTitle {
        width:600px;
        margin-top: 20px;
        opacity: .7;
    }
}

.typingText {
    font-weight: bold; /* 폰트 굵기 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    line-height: 1.2;
    /* 타이핑 커서 애니메이션 */
    position: relative; /* 상대 위치 설정 */
    white-space: pre-line;
}
  
  .typingText::after {
    content: '|'; /* 커서 표시 */
    display: inline-block;
    animation: cursor-blink 0.8s infinite; /* 커서 깜빡임 애니메이션 */
  }
  
  @keyframes cursor-blink {
    0%, 100% {
      opacity: 0; /* 커서 투명으로 설정 */
    }
    50% {
      opacity: 1; /* 커서 불투명으로 설정 */
    }
  }

.title {
    font-size:2rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
}


.about, .skills {
    margin:50px auto;
    padding:30px 10px;
    box-sizing: border-box;
    width:100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.191);
}

.about {
    background-color: beige;

}

.infos {
    display:flex;
}

.image {
    height:250px;
    width:200px;
    background-color: white;
    border-radius: 100px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.191);
    transition: transform 0.3s; 

    &:hover {
        transform: scale(1.2); 
    }}

.infoBox {
    width:100%;
    display: flex;
    flex-direction: column;
}

.infoRow {
    flex:1;
    display: flex;
    width:100%;
}

.info {
    flex:1;
    display: flex;
    background-color: white;
    margin:20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.191);
    transition: transform 0.3s; 

    &:hover {
        transform: scale(1.2); 
    }
}

.infoIcon {
    height:100%;
    width:60px;
    margin:5px;
}

.infoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoTitle {
    font-size: 1.1rem;
    font-weight: bold;
}

.infoValue {
    color:rgb(49, 49, 49);
    margin-top: 20px;
    font-weight: bold;
}

.skills {
    background-color:honeydew; 
}

.skillContent {
    display: flex;
    flex-direction: column;
    width:100%;
}
.skill {
    flex:1;
    background-color: white;
    margin:20px;
    padding:20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.191);
    position: relative;
    transition: transform 0.3s; 

    &:hover {
        transform: scale(1.1); 
    }
}

.skillTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.skillIcon {
    height:100px;
    position:absolute;
    top:-30px;
    right:-30px;
    display:flex;
}

.skillValue {
    margin-top:20px;
    font-size: 1.3rem;
    line-height: 40px;
}