.skills {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;

    background-color: rgb(251, 205, 255);

}

.title {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.skillContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* 컨테이너 내부에서 요소들 사이의 간격을 조절합니다. */
}

.skill {
    flex: 0 0 calc(45% - 40px);
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.191);
    position: relative;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.skillTitle {
    font-size: 2rem;
    font-weight: bold;
}

.skillIcon {
    height: 100px;
    position: absolute;
    top: -30px;
    right: -30px;
    display: flex;
}

.skillValue {
    margin-top: 20px;
    line-height: 40px;
}